.scoreboard {
	position: absolute;
	top: 0px;
	left: calc(50% - var( --half-w));
	border-radius: 0px 0px 10px 10px;
	background-image: linear-gradient(to right, rgba(0, 38, 255, 1),rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8),rgba(255, 94, 0, 1));
	height: var(--h);
	text-shadow: 2px 2px black;
	font-size: 35px;
	--h: 110px;
	--w: 980px;
	--half-w: calc(var(--w) / 2);
  	width: var(--w);
	  border-width: 0px 1px 1px 1px;
	  border-color: rgb(50 50 50);
	  border-style:solid;
}
.scoreboard .left .box {
	position: absolute;
	top: 0px;
	left: 13px;
	transform: skew(var(--skew),0deg);
	background-image: linear-gradient(to right, rgb(0, 9, 61),rgba(0, 0, 0, 0.6));
	width: calc(960px * 0.4);
	height: var(--h);
}
.scoreboard .left .box div {
	transform: skew(calc(var(--skew) * -1),0deg);
	width: calc(var(--w) * 0.4);
	text-align: center;
}
.scoreboard .center .box {
	position: absolute;
	top: 0px;
	left: calc(var(--w) * 0.4);
	padding: 8px 0px 0px 0px;
	width: calc(960px * 0.2);
	height: var(--h);
	text-align: center;
	line-height: 55px;
	font-size: 55px;
}
.scoreboard .center .time div {
	height: 20px;
	font-size: 60px;
}
.scoreboard .center .series {
	padding: 0px 0px 5px 0px;
	text-align: center;
	font-size: 24px;
}
.scoreboard .right .box {
	position: absolute;
	top: 0px;
	left: calc(var(--w) * 0.6);
	transform: skew(calc(var(--skew) * -1),0deg);
	background-image: linear-gradient(to left, rgb(53, 19, 0),rgba(0, 0, 0, 0.6));
	padding: 0px 0px 0px 0px;
	width: calc(950px * 0.4);
	height: var(--h);
	text-align: right;
}
.scoreboard .right .box div {
	transform: skew(var(--skew),0deg);
	width: calc(var(--w) * 0.4);
	text-align: center;
}
.scoreboard .name {
  padding-top: 5px;
  height:calc(37% - 5px);
}
.scoreboard .score {
	position: relative;
	height:63%;
	font-size: 55px;
}
.scoreboard .series-tally {
	display: none;
	position: absolute;
	top: var(--h);
	left: calc(50% - var(--half-w));
	width: var(--w);
	height: var(--tally-h);
	--w: 570px;
	--half-w: calc(var(--w) / 2);
	--tally-h: 20px;
}
.scoreboard .series-tally .left {
    z-index: 1;
	position: absolute;
	transform: skew(var(--skew),0deg);
	background-image: linear-gradient(to right, rgb(0, 5, 32),rgba(0, 0, 0, 1));
	width: 50%;
	height: var(--tally-h);
	border-width: 0px 0px 1px 1px;
	border-color: rgb(50 50 50);
	border-style:solid;
}
.scoreboard .series-tally .series-text {
  	z-index: 2;
	position: absolute;
	left: calc(50% - 45px);
	background-color: rgba(0, 0, 0, 1);
	width: 90px;
	height: var(--tally-h);
	text-align: center;
	color: rgba(255, 255, 255, 0.8);
	font-size: calc(0.825 * var(--tally-h));
	border-width: 0px 0px 1px 0px;
	border-color: rgb(50 50 50);
	border-style:solid;
}
.scoreboard .series-tally .right {
  	z-index: 1;
	position: absolute;
	left: calc(var(--w) * 0.50);
	transform: skew(calc(var(--skew) * -1),0deg);
	background-image: linear-gradient(to left, rgb(32, 12, 0),rgba(0, 0, 0, 1));
	width: 50%;
	height: var(--tally-h);
	border-width: 0px 1px 1px 0px;
	border-color: rgb(50 50 50);
	border-style:solid;
}
.scoreboard .series-tally .mark {
	position: relative;
	top: 1px;
	float: left;
	margin: 2px 5px 0px 5px;
	background-color: rgba(73, 73, 73, 0.6);
	width: 50px;
	height: 13px;
}
.scoreboard .series-tally .right .mark {
	float: right;
}
.scoreboard .series-tally .left .mark.w {
	background-color: rgb(0, 0, 255);
}
.scoreboard .series-tally .right .mark.w {
	background-color: rgb(255, 119, 0);
}
