.scoreboard{
  position: absolute;
  top: 0px;
  left: 780px; /* 2560/2 - 1000/2 */
  width: 1000px;
  height: 150px;
  font-size: 45px;
  background-image: linear-gradient(to right, rgba(0, 38, 255, 1),rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.999), rgba(0, 0, 0, 0.999), rgba(0, 0, 0, 0.999), rgba(0, 0, 0, 0.8),rgba(255, 94, 0, 1));
  text-shadow: 2px 2px black;
  border-radius: 0px 0px 10px 10px;
}
.scoreboard .left .box {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 400px;
  padding: 20px 0px 0px 0px;
  height: 130px;
  text-align: left;
  transform: skew(15deg,0deg);
  background-image: linear-gradient(to right, rgb(0, 9, 61),rgba(0, 0, 0, 0.6));
}
.scoreboard .left .box div{
  width: 400px;
  text-align: center;
  transform: skew(-15deg,0deg);
}
.scoreboard .center .box {
  position: absolute;
  top: 0px;
  left: 400px;
  width: 200px;
  height: 130px;
  line-height: 60px;
  text-align: center;
  font-size: 60px;
  padding: 20px 0px 0px 0px;
  color: rgb(255, 230, 118)
}
.scoreboard .center .time div{
  height:20px;
  font-size: 60px;
}
.scoreboard .center .series{
  height:20px;
  font-size: 28px;
  padding: 5px 0px 5px 0px;
  text-align: center;
}
.scoreboard .right .box {
  position: absolute;
  top: 0px;
  left: 600px;
  width: 400px;
  height: 130px;
  padding: 20px 0px 0px 0px;
  text-align: right;
  transform: skew(-15deg,0deg);
  background-image: linear-gradient(to left, rgb(53, 19, 0),rgba(0, 0, 0, 0.6));
}
.scoreboard .right .box div{
  width: 400px;
  text-align: center;
  transform: skew(15deg,0deg);
}

.scoreboard .score {
  position: relative;
  top: -15px;
  font-size: 70px;
}

.scoreboard .series-tally{
  position: absolute;
  top:150px;
  left:250px;
  height:20px;
  width: 500px;
  background-color: black;
  display: none;
}
.scoreboard .series-tally .left{
  position: absolute;
  left: -5px;
  transform: skew(15deg,0deg);
  width: 260px;
  height: 20px;
  background-color: black;
}
.scoreboard .series-tally .series-text{
  left: 210px;
  top:-3px;
  position: absolute;
  font-size: 20px;
  z-index: 1000;
  color: rgba(255, 255, 255, 0.8);
}

.scoreboard .series-tally .right{
  position: absolute;
  left: 255px;
  transform: skew(-15deg,0deg);
  width: 260px;
  height: 20px;
  background-color: black;
}
.scoreboard .series-tally .mark{
  position: relative;
  top:1px;
  background-color: rgb(73, 73, 73);
  float:left;
  width: 50px;
  height:13px;
  margin:2px 5px 0px 5px;
}
.scoreboard .series-tally .right .mark{
  left:79px;
}
.scoreboard .series-tally .left .mark.one {
  background-color: rgb(0, 0, 255);
}
.scoreboard .series-tally .left .mark.two {
  background-color: rgb(0, 0, 255);
}
.scoreboard .series-tally .right .mark.one {
  background-color: rgb(255, 119, 0);
}