@font-face {
	font-family: 'ScoreBoardFont';
	src: url("../assets/Lustra\ Text\ SemiBold.ttf");
}
@font-face {
	font-family: 'ReplayFont';
	src: url("../assets/Myriad\ Pro\ SemiCondensed.otf");
}
body {
	margin: 0px auto;
	background-color: rgba(0, 0, 0, 1);
	background-image: url("../assets/test-bgs/champions-day.jpg");
	width: var(--sw);
	height: var(--sh);
	overflow: hidden;
	color: white;
	font-family: "ScoreBoardFont";
	--sw: 2560px;
	--sh: 1440px;
}
#all {
	width: var(--sw);
	height: var(--sh);
}

:root {
	--skew: 0deg;
	--box-radius: 4px;
	--orange: #f2601d;
	--blue: #0783d3;
	--base-color: #0e1216;
	text-transform: uppercase;
	text-shadow: 2px 2px black;
}
