@font-face {
	font-family: 'ScoreBoardFont';
	src: url("../assets/Lustra\ Text\ SemiBold.ttf");
}
body {
	margin: 0px auto;
	background-color: rgba(0, 0, 0, 1);
	/* background-image: url("../assets/test-bg.jpg"); */
	width: var(--sw);
	height: var(--sh);
	overflow: hidden;
	color: white;
	font-family: "ScoreBoardFont";
	--sw: 2560px;
	--sh: 1440px;
}
#all {
	width: var(--sw);
	height: var(--sh);
}

:root {
	--skew: 10deg;
}
