.teamboard{
  position: absolute;
  width: 380px; 
  top: 0px; /* 1440/2 - 400/2 = 520*/  
  text-shadow: 2px 2px black;
  opacity: 0.96;
}
.teamboard.left {
  left: -80px;
}

.teamboard.right {
  left: 2225px; /* 2560 - 400 */ 
  text-align: right;
}

.teamboard.left .player .info{
  padding: 5px 0px 0px 70px;  
}

.teamboard.right .player .info{
  padding: 5px 90px 0px 00px;  
}

.teamboard.left .player {
  padding: 0px 10px 10px 20px;
  border-radius: 0 var(--box-radius) var(--box-radius) 0;
}

.teamboard.right .player {
  padding: 0px 0px 10px 10px;
  border-radius: var(--box-radius) 0 0 var(--box-radius);
}

.teamboard .player {
  font-size: 22px;
  line-height: 30px;
  display: block;
  margin: 5px 0px 5px 0px;
  background-color: var(--base-color);
}

.teamboard .player .boost{
  height: 6px;
  border-style:none;
}

.teamboard .player .boost .fill{
  width: 33%;
  height:100%;
}

.teamboard .player .boost .num{
  position: relative;
}
.teamboard.left .player .boost .num{
  text-align: right;
  left: 0px; 
  top:-36px;
}
.teamboard.right .player .boost .num{
  text-align: left;
  left: 0px; 
  top:-36px;
}

.teamboard.left .player .boost .fill{
  background-color: var(--blue);
}

.teamboard.right .player .boost .fill{
  background-color: var(--orange);
  margin-left: auto; 
  margin-right: 0;
}

.teamboard .player .stats .stat {
  display:none;
}