.teamboard{
  position: absolute;
  width: 300px;
  top: 15px; /* 1440/2 - 400/2 = 520*/  
  text-shadow: 2px 2px black;
  padding: 5px 10px 5px 10px;
  opacity: 1;
}
.teamboard.left {
  left: 15px;
  background-image: linear-gradient(to right, rgba(0, 9, 61, 0.8), rgba(0, 0, 0, 9));
  border-radius: 0 0 10px 10px;
}

.teamboard.right {
  left: 2225px; /* 2560 - 400 */ 
  background-image: linear-gradient(to left, rgba(53, 19, 0, 0.8), rgba(0, 0, 0, 9));
  border-radius: 0 0 10px 10px;
}

.teamboard .player {
  margin:0px;
  font-size: 30px;
  display: block;
  padding-bottom: 0px;
}

.teamboard .player .boost{
  height: 8px;
  border-style:none;
  /* display: none; */
}

.teamboard.left .player .boost{
  border-color:  rgb(0, 150, 255, 0.6);
}

.teamboard.right .player .boost{
  border-color:  rgba(255, 255, 0, 0.6);
}

.teamboard .player .fill{
  width: 33%;
  height:100%;
}

.teamboard.left .player .fill{
  background-image: linear-gradient(to right, rgb(0, 0, 255), rgb(0, 150, 255));
}

.teamboard.right .player .fill{
  background-image: linear-gradient(to right, rgb(255, 119, 0), rgb(255, 255, 0));
}

.teamboard .player .stats .stat {
  display:inline;
  padding:0 10px 0 0;
}

.teamboard .player .stats .stat img {
  display:inline;
  position: relative;
  left: 0;
  height: 20px;
  filter: invert(90%);
}

.teamboard .player .stats .stat div {
  display:inline;
  height: 30px;
  padding-right:3px;
  font-size:25px;
}