.teamboard .player {
  padding: 0 0.625rem 0.625rem 0.625rem;
  margin: 0.3rem 0 0.5rem 0;
  font-size: 1.5rem;
  background-color: rgb(var(--base-color));
  height:2.5rem;
  transition: all .5s ease;
}

.teamboard .right .player{
  left:0px;
  position: relative;
}

.teamboard .player .name{
  padding-top:calc(var(--one)* 2);
  z-index: 1000;
  position: relative;
}

.teamboard .player .boost{
  height: calc(var(--sw)/320);
  border-style:none;
  position: relative;
  top:calc(var(--sw)/-400);
}

.teamboard .player .boost .fill{
  width: 33%;
  height: calc(var(--sw) / 320);
  transition: 100ms;
  transition-timing-function: linear;
  position: relative;
}

.teamboard .player.spectatingTeamBoard .boost .fill-bg{
  background-color: rgb(var(--base-color));
}

.teamboard .player .boost .fill-bg{
  width: 100%;
  height: calc(var(--sw) / 320);
  background-color: black;
  position: relative;
  top:calc(var(--sw) / 320);
}

.teamboard .player .boost .num{
  position: relative;
  vertical-align: top;
  line-height: calc(var(--sw) / 320 * 3);
}
.teamboard .left .player .boost .num{
  text-align: right;
  top: calc(var(--sw) / 320 * -4.6);
}
.teamboard .right .player .boost .num{
  text-align: left;
  top: calc(var(--sw) / 320 * -4.6);
}

.teamboard .left .player.spectatingTeamBoard{
  background-color: rgb(var(--blue));
  color:white;
}

.teamboard .right .player.spectatingTeamBoard{
  background-color: rgb(var(--orange));
  color:white;
}

.teamboard .left .player .boost .fill{
  background-color: rgb(var(--blue));
}
.teamboard .left .player.spectatingTeamBoard .boost .fill{
  background-color: white;
}

.teamboard .right .player .boost .fill{
  background-color: rgb(var(--orange));
  margin-left: auto; 
  margin-right: 0;
}
.teamboard .right .player.spectatingTeamBoard .boost .fill{
  background-color: white;
}

.teamboard .player .stats .stat {
  display:none;
}

 .teamboard .right .statOverlay{
  height:3.125rem;
  width:100%;
  position: absolute;
  background-image: linear-gradient(to right, rgba(var(--orange),1) 20%, 35%, rgba(var(--orange),0.0) 70%);
  left:-3.5rem;
  animation: right-statfeed 200ms;
  z-index: 100;
}
.teamboard .right .statOverlay img{
  float:left;
}

.teamboard .left .statOverlay img{
  float:right;
}

.teamboard .statOverlay img{
  height:3.625rem;
  top:-0.25rem;
  position: relative;
  margin:0rem 0.2rem;
}
.teamboard .right .statOverlay img{
  filter: 
  invert(1) 
  sepia(0.1) 
  saturate(500%)
  drop-shadow(0px 0px 3px rgb(255, 255, 0));
  z-index: 1000;
}
.teamboard .left .statOverlay img{
  filter: 
  invert(1) 
  sepia(0.0) 
  saturate(500%)
  drop-shadow(0px 0px 3px rgb(0, 225, 255));
  z-index: 1000;
}

.teamboard .left .statOverlay{
 height:3.125rem;
 width:100%;
 position: absolute;
 background-image: linear-gradient(to left, rgba(var(--blue),1) 20%, 35%, rgba(var(--blue),0.0) 70%);
 left:3.5rem;
 animation: left-statfeed 200ms;
 z-index: 100;
}

@keyframes right-statfeed {
  0% {left:-12rem;opacity: 0;}
  50% {opacity: 0.2;}
  100% {left:-3.5rem;opacity: 1}
}
@keyframes left-statfeed {
  0% {left:12rem;opacity: 0;}
  50% {opacity: 0.2;}
  100% {left:3.5rem;opacity: 1}
}