#possession-positon{
	position: absolute;
    width: var(--sw);
    height: var(--sh);
	opacity: 0.96;
}

#possession-flyout{
	position: absolute;
	font-size: 1.5rem;
	line-height: calc(var(--padding) * 3);
	background-color: rgb(var(--base-color));
	width:17rem; 
	top:16.5rem;
	transition: 0.4s;
}
#possession-flyout.left{
	text-align: right;
	left: -18.5rem;
	padding: 0.5rem 1rem 0.5rem 0.5rem;
}
#possession-flyout.right{
	text-align: left;
	left: calc(var(--sw));
	padding: 0.5rem 0.5rem 0.5rem 1rem;
}

#position-flyout{
	position: absolute;
	font-size: 1.5rem;
	line-height: calc(var(--padding) * 3);
	background-color: rgb(var(--base-color));
	width:17rem; 
	top:20rem;
	transition: 0.4s;
}
#position-flyout.left{
	text-align: right;
	left: -18.5rem;
	padding: 0.5rem 1rem 0.5rem 0.5rem;
}
#position-flyout.right{
	text-align: left;
	left: calc(var(--sw));
	padding: 0.5rem 0.5rem 0.5rem 1rem;
}