#possession-positon{
	position: absolute;
    width: var(--sw);
    height: var(--sh);
	opacity: 0.96;
}

#possession-positon-text-left{
	position:absolute;
	top:4.5rem;
	left:52.3rem;
	width:200px;
}

#possession-positon-text-left div{
	text-shadow: none;
	font-size: 0.9rem;
	float:right;
	background-color: rgba(var(--base-color),0.0);
	border-radius: 0 0 var(--box-radius) var(--box-radius);
	margin-right:0.5rem;
	color:#ecec4f;
	text-align: right;
}

#possession-positon-text-right{
	position:absolute;
	top:4.5rem;
	left:95.7rem;
	width:200px;
}

#possession-positon-text-right div{
	text-shadow: none;
	font-size: 0.9rem;
	float:left;
	background-color: rgba(var(--base-color),0.0);
	border-radius: 0 0 var(--box-radius) var(--box-radius);
	margin-right:0.5rem;
	color:#ecec4f;
	text-align: right;
}