@font-face {
	font-family: 'ScoreBoardFont';
	src: url("../assets/Lustra\ Text\ SemiBold.ttf");
}
@font-face {
	font-family: 'ReplayFont';
	src: url("../assets/Myriad\ Pro\ SemiCondensed.otf");
}
body {
	margin: 0 auto;
	background-color: #000000;
	overflow: hidden;
	color: white;
	font-family: "ScoreBoardFont";
}

#root {
	width: var(--sw);
	height: var(--sh);
}

#outside-border {
	position: absolute;
	top:-1px;
	left:-1px;
	width: calc(var(--sw) + 1px);
	height: calc(var(--sh) + 1px);
	border:1px solid red;
}

:root {
	--skew: 0deg;
	--box-radius: 3px;
	--orange: 255, 120, 30; /* 242, 96, 29  */
	--blue: 12,125,255; /* 7, 121, 211 */
	--base-color: 14, 18, 22;
	--sw: 2560px;
	--sh: calc(var(--sw) * 9 / 16);
	--one: calc(var(--sw) / 2560);
	text-transform: uppercase;
	text-shadow: var(--one) var(--one) rgba(14, 18, 22, 0.9);
	font-size:calc(var(--sw) / 160);
}
