.spectating {
	position: absolute;
	top: calc(var(--sh) * 0.8);
	padding: 0 calc(var(--sw) / 32) 0 0;
	height: calc(var(--sw) / 32);
	text-align: right;
	font-size: 3.9rem;
}

.spectating .name {
	text-shadow: calc(var(--one)*2) calc(var(--one)*2) black;
}
.spectating .stats {
	position: relative;
	text-shadow: calc(var(--one)*2) calc(var(--one)*2) black;
	top: calc(var(--one)*-20);
}
.spectating .stats img {
	display: inline;
	position: relative;
	left: 0;
	height: calc(var(--one)*30);
	padding: 0 calc(var(--one)*10) 0 calc(var(--one)*40);
	filter: invert(90%);
}
.spectating .stats div {
	display: inline;
	padding-right: 3px;
	height: calc(var(--one)*30);
	font-size: calc(var(--one)*40);
}

.spectating-boost{
	position: absolute;
	--rh: calc(var(--one)*310);
	--rw: calc(var(--one)*310);
	--cr: calc(var(--one)*150);
	height: var(--rh);
	width: var(--rw);
	top: calc(var(--sh) - calc(var(--rh) + calc(var(--one) * 40)));
	left: calc(var(--sw) - calc(var(--rw) + calc(var(--one) * 70)));
}

.spectating-boost .boost-ring{
	height: var(--rh);
	width: var(--rw);
}

.spectating-boost .boost-ring .fill{
	--stroke-w: calc(var(--one)*30);
	r:calc(var(--cr) - calc(var(--stroke-w) / 2));
	cx:calc(var(--rw) / 2);
	cy:calc(var(--rh) / 2);
	stroke-width:var(--stroke-w);
	transform: rotate(-270deg);
	transform-origin: 50% 50%;
}

.spectating-boost .boost-ring .border-inner{
	--stroke-w: calc(var(--one)*30);
	r:calc(var(--cr) - calc(var(--stroke-w) / 2));
	cx:calc(var(--rw) / 2);
	cy:calc(var(--rh) / 2);
	stroke-width:var(--stroke-w);
	stroke:rgba(0, 0, 0, 0.7);
	fill:transparent;
}

.spectating-boost .boost-ring .inner{
	r:calc(var(--one)*121);
	cx:calc(var(--rw) / 2);
	cy:calc(var(--rh) / 2);
	fill:rgba(0, 0, 0, 0.8);
}

.spectating-boost .boost-ring .border-outer{
	--stroke-w: calc(var(--one)*2);
	r:calc(var(--cr) - calc(var(--stroke-w) / 2));
	cx:calc(var(--rw) / 2);
	cy:calc(var(--rh) / 2);
	stroke-width:var(--stroke-w);
	stroke:rgba(0, 0, 0, 0.2);
	fill:transparent;
}

.spectating-boost .boost-ring .center{
	--stroke-w: 1;
	--cr: 5;
	r:calc(var(--cr) - calc(var(--stroke-w) / 2));
	cx:calc(var(--rw) / 2);
	cy:calc(var(--rh) / 2);
	stroke-width:var(--stroke-w);
	stroke:rgba(0, 0, 0, 0.8);
	fill:red;
}

.spectating-boost .boost-ring .boost-num{
	filter: drop-shadow( calc(var(--one)*3) calc(var(--one)*3) calc(var(--one)*2) rgba(0, 0, 0, .7));
	font-size:3rem;
}

.spectating-boost .boost-ring .speed-num{
	filter: drop-shadow( calc(var(--one)*3) calc(var(--one)*3) calc(var(--one)*2) rgba(0, 0, 0, .7));
	font-size:2rem;
}