.teamboard .player {
  --padding: calc(var(--sw) / 256);
  padding: 0 var(--padding) var(--padding) var(--padding);
  font-size: 1.4rem;
  line-height: calc(var(--padding) * 3.2);
  display: block;
  margin: calc(var(--padding) / 2) 0 calc(var(--sw) / 320) 0;
  background-color: rgb(var(--base-color));
}

.teamboard .player .boost{
  height: calc(var(--sw)/320);
  border-style:none;
  position: relative;
  top:calc(var(--sw)/-400);
}

.teamboard .player .boost .fill{
  width: 33%;
  height: calc(var(--sw) / 320);
  transition: 100ms;
  transition-timing-function: linear;
  position: relative;
}

.teamboard .player.spectatingTeamBoard .boost .fill-bg{
  background-color: rgb(var(--base-color));
}

.teamboard .player .boost .fill-bg{
  width: 100%;
  height: calc(var(--sw) / 320);
  background-color: black;
  position: relative;
  top:calc(var(--sw) / 320);
}

.teamboard .player .boost .num{
  position: relative;
  vertical-align: top;
  line-height: calc(var(--sw) / 320 * 3);
}
.teamboard .left .player .boost .num{
  text-align: right;
  top: calc(var(--sw) / 320 * -4.5);
}
.teamboard .right .player .boost .num{
  text-align: left;
  top: calc(var(--sw) / 320 * -4.5);
}

.teamboard .left .player.spectatingTeamBoard{
  background-color: rgb(var(--blue));
  color:white;
}

.teamboard .right .player.spectatingTeamBoard{
  background-color: rgb(var(--orange));
  color:white;
}

.teamboard .left .player .boost .fill{
  background-color: rgb(var(--blue));
}
.teamboard .left .player.spectatingTeamBoard .boost .fill{
  background-color: white;
}

.teamboard .right .player .boost .fill{
  background-color: rgb(var(--orange));
  margin-left: auto; 
  margin-right: 0;
}
.teamboard .right .player.spectatingTeamBoard .boost .fill{
  background-color: white;
}

.teamboard .player .stats .stat {
  display:none;
}