.replay{
	opacity: 0;
}

.replay .bottom-overlay{
    position: absolute;
    left:0px;
    top:0px;
    height: var(--sh);
    width: var(--sw);
}
#top-replay-overlay-group{
    display: none;
}

#replay-bottom-overlay, #replay-top-overlay{
    fill:rgba(0,0,0, 0.75);
    stroke:rgba(0,0,0, 0.78);
    stroke-width:1;
}


.replay .st1 {
    fill: #ff583e;
    filter: drop-shadow(1px 1px 6px #ff583e);
    text-shadow: none;
}
.replay .st2{font-family:'ReplayFont';}
.replay .st3{font-size:48px;}

.replay .bottom-overlay .goal-stats{
    --stat-height:calc(var(--one) * 70);
    height: var(--stat-height);
    width: var(--sw);
    position: absolute;
    top: calc(var(--sh) - var(--stat-height));
    font-size: 2.5rem;
    text-transform: uppercase;
    transform: skewX(-5deg);
}

.replay .bottom-overlay .goal-stats div div{
    display: inline;
    position: relative;
    top:6px;
}
.replay .bottom-overlay .goal-stats img{
    display:inline;
    position: relative;
    top:12px;
    height: calc(var(--stat-height) * 0.6);
    opacity: 1;
}

.replay .bottom-overlay .goal-stats.blue div div{
    text-shadow: none;
    filter: 
        drop-shadow(2px 2px 8px rgba(var(--blue), 1));
    -webkit-text-stroke: 0.1.5px rgba(0, 0, 0, 1);
    border:20px;
    border-color: rgba(var(--blue), 1);
}
.replay .bottom-overlay .goal-stats.blue img{
    filter: 
        invert(1) 
        sepia(0.3) 
        hue-rotate(79deg) 
        saturate(1000%)
        drop-shadow(2px 2px 8px rgba(var(--blue), 0.8))
}

.replay .bottom-overlay .goal-stats.orange div div{
    text-shadow: none;
    filter: 
        drop-shadow(2px 2px 8px rgba(var(--orange), 1));
    -webkit-text-stroke: 0.1.5px rgba(0, 0, 0, 1);
    border:1px;
    border-color: rgba(var(--orange), 1);
}
.replay .bottom-overlay .goal-stats.orange img{
    filter: 
        invert(1) 
        sepia(.3) 
        hue-rotate(318deg) 
        saturate(2000%)
        drop-shadow(2px 2px 8px rgba(var(--orange), 0.8));
}

.replay .bottom-overlay .goal-stats .scored-by{
    position: absolute;
    width:calc(var(--sw) * 0.4);
    text-align: right;
}

.replay .bottom-overlay .goal-stats .goal-speed{
    --w: calc(var(--sw) * 0.2);
    position: absolute;
    width:var(--w);
    left:calc(var(--sw) * 0.4);
    text-align: center;
}

.replay .bottom-overlay .goal-stats .assist{
    position: absolute;
    width:calc(var(--sw) * 0.4);
    left:calc(var(--sw) * 0.6);
    text-align: left;
}