.scoreboard {
	position: absolute;
	top: 0px;
	transition: 1s;
	left: calc(var(--scoreboard-w) - var(--scoreboard-hw));
	height: var(--scoreboard-h);
	--scoreboard-h: calc(var(--sh) / 15);
	--scoreboard-w: calc(var(--sw) / 2);
	--scoreboard-hw: calc(var(--scoreboard-w) / 2);
  	width: var(--scoreboard-w);
	opacity: 0.99;
}
.scoreboard .left{
	position: absolute;
	top: 0px;
	left: 0px;
	width: calc(var(--scoreboard-w) * 0.4);
	height: var(--scoreboard-h);
	background-color: rgb(var(--blue));
}
.scoreboard .right {
	position: absolute;
	top: 0px;
	left: calc(var(--scoreboard-w) * 0.6);
	padding: 0px 0px 0px 0px; 	 	
	width: calc(calc(var(--scoreboard-w) * 0.4));
	height: var(--scoreboard-h);
	text-align: right;
	background-color: rgb(var(--orange));
}
.scoreboard .left .name {
  position: absolute;
  height: calc(var(--scoreboard-h) * 0.9);
  width: calc(var(--scoreboard-w) * 0.4 * 0.8 - 20px);
  top: calc(var(--scoreboard-h) * 0.1);
  background: linear-gradient(45deg, #185777a6,rgb(var(--base-color)));
  text-align: right;
  line-height: calc(var(--scoreboard-h) * 0.9);
  padding-right: 20px;
  border-radius: 0 var(--box-radius) 0 0;
  font-size: 2.5rem;
}
.scoreboard .left .score {
  position: absolute;
  height: calc(var(--scoreboard-h) * 0.9);
  line-height: calc(var(--scoreboard-h) * 0.9);
  width:20%;
  left:80%;
  top: 10%;
  font-size: 4.1rem;
  text-align: center;
}
.scoreboard .right .name {
  position: absolute;
  height: calc(var(--scoreboard-h) * 0.9);
  width: calc(var(--scoreboard-w) * 0.4 * 0.8 - 20px);
  top: calc(var(--scoreboard-h) * 0.1);
  left:20%;
  background: linear-gradient(-45deg, #9d4621a6,rgb(var(--base-color)));
  text-align: left;
  line-height: calc(var(--scoreboard-h) * 0.9);
  padding-left: 20px;
  border-radius: var(--box-radius) 0 0 0;
  font-size: 2.5rem;
}
.scoreboard .right .score {
  position: absolute;
  height: calc(var(--scoreboard-h) * 0.9);
  line-height: calc(var(--scoreboard-h) * 0.9);
  width:20%;
  top: 10%;
  font-size: 4.1rem;
  text-align: center;
}
.scoreboard .center .box {
	position: absolute;
	top: 0px;
	left: calc(var(--scoreboard-w) * 0.4);
	width: calc(var(--scoreboard-w) * 0.2);
	height: var(--scoreboard-h);
	text-align: center;
	line-height: var(--scoreboard-h);
	font-size: 3.8rem;
	background-color: rgb(var(--base-color));
}

.scoreboard .series-tally {
	position: absolute;
	top: var(--scoreboard-h);
	left: calc(50% - var(--scoreboard-hw));
	width: var(--scoreboard-w);
	height: var(--tally-h);
	--scoreboard-hw: calc(var(--scoreboard-w) / 2);
	--tally-h: calc(var(--scoreboard-h) * .2085);
}
.scoreboard .series-tally .left {
    z-index: 1;
	position: absolute;
	width: calc(var(--scoreboard-w) * 0.4);
	height: var(--tally-h);
	background: linear-gradient(0deg, #000000fd,rgb(var(--base-color)));
	border-radius: 0 0 0 var(--box-radius);
}
.scoreboard .series-tally .right {
  	z-index: 1;
	position: absolute;
	left: calc(var(--scoreboard-w) * 0.6);
	width: calc(var(--scoreboard-w) * 0.4);
	height: var(--tally-h);
	background: linear-gradient(0deg, #000000fd,rgb(var(--base-color)));
	border-radius: 0 0 var(--box-radius) 0;
}
.scoreboard .series-tally .series-text {
  	z-index: 2;
	position: absolute;
	left: calc(var(--scoreboard-w) * 0.4);
	width: calc(var(--scoreboard-w) * 0.2);
	height: calc(var(--tally-h) * 1.3);
	border-radius: 0 0 calc(var(--tally-h) * 0.3) calc(var(--tally-h) * 0.3);
	text-align: center;
	color: rgba(255, 255, 255, 0.95);
	font-size: calc(0.825 * var(--tally-h));
	background: linear-gradient(0deg, #0e1216fd,rgb(var(--base-color)));
}

.scoreboard .series-tally .series-text.ot {
  background: rgb(184, 12, 12);
  background: linear-gradient(0deg, rgb(184, 12, 12),#000000fd);
}

.scoreboard .series-tally .mark {
	position: relative;
	float: right;
	background-color: rgba(73, 73, 73, 0.6);
	width: calc(var(--scoreboard-hw) / 10);
	height: var(--mark-h);
	border: 0.5px solid rgba(255, 255, 255, 0.1);
	--mark-h: calc(var(--tally-h) / 2);
}

.scoreboard .series-tally .left .mark{
	margin: calc(var(--mark-h) * 0.4) 0px 0px calc(var(--mark-h) * 0.6);
}
.scoreboard .series-tally .right .mark{
	margin: calc(var(--mark-h) * 0.4) calc(var(--mark-h) * 0.6) 0px 0px;
}

.scoreboard .series-tally .right .mark {
	float: left;
}
.scoreboard .series-tally .left .mark.w {
	background-color: rgb(var(--blue));
}
.scoreboard .series-tally .right .mark.w {
	background-color: rgb(var(--orange));
}
