.scoreboard {
	position: absolute;
	top: 0px;
	transition: 1s;
	left: calc(50% - var( --half-w));
	background-color: rgb(var(--base-color));
	height: var(--h);
	font-size: 34px;
	--h: 80px;
	--w: 1150px;
	--half-w: calc(var(--w) / 2);
  	width: var(--w);
	opacity: 0.98;
}
.scoreboard .left{
	position: absolute;
	top: 0px;
	left: 0px;
	width: calc(var(--w) * 0.4);
	height: var(--h);
	background-color: rgb(var(--blue));
}
.scoreboard .right {
	position: absolute;
	top: 0px;
	left: calc(var(--w) * 0.6);
	padding: 0px 0px 0px 0px; 	 	
	width: calc(calc(var(--w) * 0.4));
	height: var(--h);
	text-align: right;
	background-color: rgb(var(--orange));
}
.scoreboard .left .name {
  position: absolute;
  height: calc(var(--h) * 0.9);
  width: calc(var(--w) * 0.4 * 0.8 - 20px);
  top: calc(var(--h) * 0.1);
  background: linear-gradient(45deg, #185777a6,rgb(var(--base-color)));
  text-align: right;
  line-height: calc(var(--h) * 0.9);
  padding-right: 20px;
  border-radius: 0 var(--box-radius) 0 0;
}
.scoreboard .left .score {
  position: absolute;
  height: calc(var(--h) * 0.9);
  line-height: calc(var(--h) * 0.9);
  width:20%;
  left:80%;
  top: 10%;
  font-size: 65px;
  text-align: center;
}
.scoreboard .right .name {
  position: absolute;
  height: calc(var(--h) * 0.9);
  width: calc(var(--w) * 0.4 * 0.8 - 20px);
  top: calc(var(--h) * 0.1);
  left:20%;
  background: linear-gradient(-45deg, #9d4621a6,rgb(var(--base-color)));
  text-align: left;
  line-height: calc(var(--h) * 0.9);
  padding-left: 20px;
  border-radius: var(--box-radius) 0 0 0;
}
.scoreboard .right .score {
  position: absolute;
  height: calc(var(--h) * 0.9);
  line-height: calc(var(--h) * 0.9);
  width:20%;
  top: 10%;
  font-size: 65px;
  text-align: center;
}
.scoreboard .center .box {
	position: absolute;
	top: 0px;
	left: calc(var(--w) * 0.4);
	width: calc(var(--w) * 0.2);
	height: var(--h);
	text-align: center;
	line-height: var(--h);
	font-size: 55px;
}
.scoreboard .center .time div {
	height: 20px;
	font-size: 60px;
}

.scoreboard .series-tally {
	position: absolute;
	top: var(--h);
	left: calc(50% - var(--half-w));
	width: var(--w);
	height: var(--tally-h);
	--half-w: calc(var(--w) / 2);
	--tally-h: 20px;
}
.scoreboard .series-tally .left {
    z-index: 1;
	position: absolute;
	width: calc(var(--w) * 0.4);
	height: var(--tally-h);
	background: linear-gradient(0deg, #000000d1,rgb(var(--base-color)));
	border-radius: 0 0 0 var(--box-radius);
}
.scoreboard .series-tally .right {
  	z-index: 1;
	position: absolute;
	left: calc(var(--w) * 0.6);
	width: calc(var(--w) * 0.4);
	height: var(--tally-h);
	background: linear-gradient(0deg, #000000d1,rgb(var(--base-color)));
	border-radius: 0 0 var(--box-radius) 0;
}
.scoreboard .series-tally .series-text {
  	z-index: 2;
	position: absolute;
	left: calc(var(--w) * 0.4);
	width: calc(var(--w) * 0.2);
	height: calc(var(--tally-h) * 1.3);
	border-radius: 0 0 6px 6px;
	text-align: center;
	color: rgba(255, 255, 255, 0.8);
	font-size: calc(0.825 * var(--tally-h));
	background: linear-gradient(0deg, #0e1216e1,rgb(var(--base-color)));
}
.scoreboard .series-tally .mark {
	position: relative;
	top: 1px;
	float: right;
	background-color: rgba(73, 73, 73, 0.6);
	width: 50px;
	height: 10px;
}

.scoreboard .series-tally .left .mark{
	margin: 4px 0px 0px 6px;
}
.scoreboard .series-tally .right .mark{
	margin: 4px 6px 0px 0px;
}

.scoreboard .series-tally .right .mark {
	float: left;
}
.scoreboard .series-tally .left .mark.w {
	background-color: rgb(var(--blue));
}
.scoreboard .series-tally .right .mark.w {
	background-color: rgb(var(--orange));
}
