.spectating {
	position: absolute;
	top: 1150px;
	left:-9px;
	padding: 0 70px 0px 0px;
	height: 80px;
	text-align: right;
	font-size: 60px;
}
.spectating .name {
	margin: 0px;
	padding: 0px;
	text-shadow: 2px 2px black;
}
.spectating .boost {
	display: none;
	position: relative;
	top: -4px;
	left: -70px;
	width: 100%;
}
.spectating .boost .fill {
	background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.25));
	width: 70%;
	height: 25px;
}
.spectating .stats {
	position: relative;
	text-shadow: 2px 2px black;
	top: -20px;
}
.spectating .stats img {
	display: inline;
	position: relative;
	left: 0;
	height: 30px;
	padding: 0px 10px 0px 40px;
	filter: invert(90%);
}
.spectating .stats div {
	display: inline;
	padding-right: 3px;
	height: 30px;
	font-size: 40px;
}

.spectating-boost{
	position: absolute;
	--rh: 310px;
	--rw: 310px;
	--cr: 150;
	height: var(--rh);
	width: var(--rw);
	top: calc(var(--sh) - calc(var(--rh) + 40px));
	left: calc(var(--sw) - calc(var(--rw) + 30px));
}

.spectating-boost .boost-ring{
	height: var(--rh);
	width: var(--rw);
}

.spectating-boost .boost-ring .fill{
	--stroke-w: 30;
	r:calc(var(--cr) - calc(var(--stroke-w) / 2));
	cx:calc(var(--rw) / 2);
	cy:calc(var(--rh) / 2);
	stroke-width:var(--stroke-w);
	transform: rotate(-270deg);
	transform-origin: 50% 50%;
}

.spectating-boost .boost-ring .border-inner{
	--stroke-w: 30;
	r:calc(var(--cr) - calc(var(--stroke-w) / 2));
	cx:calc(var(--rw) / 2);
	cy:calc(var(--rh) / 2);
	stroke-width:var(--stroke-w);
	stroke:rgba(0, 0, 0, 0.7);
	fill:transparent;
}

.spectating-boost .boost-ring .inner{
	r:121;
	cx:calc(var(--rw) / 2);
	cy:calc(var(--rh) / 2);
	fill:rgba(0, 0, 0, 0.8);
}

.spectating-boost .boost-ring .border-outer{
	--stroke-w: 2;
	r:calc(var(--cr) - calc(var(--stroke-w) / 2));
	cx:calc(var(--rw) / 2);
	cy:calc(var(--rh) / 2);
	stroke-width:var(--stroke-w);
	stroke:rgba(0, 0, 0, 0.2);
	fill:transparent;
}

.spectating-boost .boost-ring .center{
	--stroke-w: 1;
	--cr: 5;
	r:calc(var(--cr) - calc(var(--stroke-w) / 2));
	cx:calc(var(--rw) / 2);
	cy:calc(var(--rh) / 2);
	stroke-width:var(--stroke-w);
	stroke:rgba(0, 0, 0, 0.8);
	fill:red;
}

.spectating-boost .boost-ring .boost-num, .spectating-boost .boost-ring .speed-num{
	filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}