.teamboard .left {
  position: absolute;
  width: 380px;
  top: 0px; /* 1440/2 - 400/2 = 520*/  
  opacity: 0.96;
}

.teamboard .right {
  left: 2180px; /* 2560 - 400 */ 
  text-align: right;
  position: absolute;
  width: 380px;
  top: 0px; /* 1440/2 - 400/2 = 520*/  
  opacity: 0.96;
}

.teamboard .left .player {
  padding: 0px 10px 10px 10px;
  border-radius: 0 var(--box-radius) var(--box-radius) 0;
}

.teamboard .right .player {
  padding: 0px 10px 10px 10px;
  border-radius: var(--box-radius) 0 0 var(--box-radius);
}

.teamboard .player {
  font-size: 22px;
  line-height: 30px;
  display: block;
  margin: 5px 0px 5px 0px;
  background-color: rgb(var(--base-color));
}

.teamboard .player .boost{
  height: 6px;
  border-style:none;
}

.teamboard .player .boost .fill{
  width: 33%;
  height:100%;
  transition: 0.25s;
}

.teamboard .player .boost .num{
  position: relative;
}
.teamboard .left .player .boost .num{
  text-align: right;
  left: 0px; 
  top:-36px;
}
.teamboard .right .player .boost .num{
  text-align: left;
  left: 0px; 
  top:-36px;
}

.teamboard .left .player.spectatingTeamBoard{
  background-color: rgb(var(--blue));
  color:white;
}

.teamboard .right .player.spectatingTeamBoard{
  background-color: rgb(var(--orange));
  color:white;
}

.teamboard .left .player .boost .fill{
  background-color: rgb(var(--blue));
}
.teamboard .left .player.spectatingTeamBoard .boost .fill{
  background-color: white;
}

.teamboard .right .player .boost .fill{
  background-color: rgb(var(--orange));
  margin-left: auto; 
  margin-right: 0;
}
.teamboard .right .player.spectatingTeamBoard .boost .fill{
  background-color: white;
}

.teamboard .player .stats .stat {
  display:none;
}