.teamboard{
  --teamboard-w: calc(var(--sw) / 7.1);
}

.teamboard .left {
  position: absolute;
  left: 0;
  text-align: left;
  width: var(--teamboard-w);
  top: calc(var(--sh)/1440);
  opacity: 0.96;
}

.teamboard .right {
  position: absolute;
  left: calc(var(--sw) - var(--teamboard-w));
  text-align: right;
  width: var(--teamboard-w);
  top: calc(var(--sh)/1440);
  opacity: 0.96;
}